@*Diretiva para especificar o tipo que estou tratando na minha view
    neste caso uma lista de lanche
*@
@*@model IEnumerable<LanchesMac.Models.Lanche>*@

@*foreach para percorrer minha lista de lanche
    onde var lenche é uma variável e Model==Lista de Lanche.
*@

@model LanchesListViewModel

<div><h2>@Model.CategoriaAtual</h2></div>

@foreach (var lanche in Model.Lanches)
{

   @* @Html.Partial("_LanchesResumo", lanche);*@
     <partial name="_lanchesResumo" for="@lanche" />
}